@charset "utf-8";

@font-face {
    font-family: 'Baloo2';
    src: url('../fonts/Baloo2-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Economica';
    src: url('../fonts/Economica-Regular.ttf');
}

@font-face {
    font-family: 'Economica';
    src: url('../fonts/Economica-Bold.ttf');
	font-weight: bold;
}

@font-face {
    font-family: 'Economica';
    src: url('../fonts/Economica-Italic.ttf');
	font-style: italic;
}

@font-face {
    font-family: 'Economica';
    src: url('../fonts/Economica-BoldItalic.ttf');
	font-weight: bold;
	font-style: italic;
}

html {
	--scrollbarBG: rgb(0, 14, 28);
	--thumbBG: rgb(0, 41, 47);
}

* {
	color: white;
	text-align: center;
	font-family: 'Baloo 2';
}

/*
Containers
*/

body::-webkit-scrollbar {
	width: 11px;
}

body {
	background-color: #333;
	scrollbar-width: thin;
	scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar-track {
	background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
	background-color: var(--thumbBG);
	border-radius: 6px;
	border: 3px solid var(--scrollbarBG);
}

body,
.container {
	margin: 0 !important;
	padding: 0 !important;
	align-content: center;
}

body::-webkit-scrollbar {
	width: 11px;
}

.container {
	display: inline-block;
	max-width: 2560px;
	background-color: none;
}

div {
	padding: 40px;
	max-width: 1000px;
	margin: 20px auto;
	border-radius: 30px;
}

span {
	object-fit: contain;
}

section {
	margin: 100px 0;
}

div.description {
	background-color: rgba(0, 0, 0, 0.5);
}

div.social {
	background-color: rgba(0, 0, 0, 0.5);
}

span.social {
	display: inline-block;
	min-width: 100%;
}

span.social-link {
	position: relative;
	float: none;
	max-width: 10%;
	margin: 0 2%;
	display: inline-block;
	background-color: none;
	padding: 1.5% 2%;
	object-fit: contain;
}

span.link-spanner {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

div.about {
	background-color: rgba(0, 0, 0, 0.5);
}

.title {
	margin: 20px auto;
	padding: 15px;
	background-color: rgb(211, 220, 242);
}

div.projects {
	background-color: rgba(0, 0, 0, 0.5);
}

div.footer {
	margin: 25px, 40px;
	margin-top: 150px;
	padding-left: 5%;
	padding-right: 5%;
	background-color: rgba(0, 0, 0, 0.5);
}



/*
Images
*/
img {
	display: block;
}

img.header {
	opacity: 0.8;
	width: 75%;
	margin: 10% auto 7% auto;
	max-width: 1300;
}

img.social {
	opacity: 0.9;
	height: 100%;
	width: 100%;
	object-fit: contain;
}

#bgVideo {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
}

/*
Text
*/
p {
	text-align: left;
	font-size: 1.35em;
	margin: 0;
}

b {
	font-weight: bold;
}

h1,
h2 {
	font-family: 'Economica';
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: normal;
}

h1 {
	margin: 0;
	padding-bottom: 15px;
	font-size: 3em;
	text-align: left;
}

h2 {
	margin: 0;
	display: block;
	font-size: 2.5em;
	text-align: center;
	color: rgb(255, 255, 255);
}

h3 {
	font-family: 'Economica';
	margin: 0;
	margin-bottom: 10%;
	font-weight: bold;
	font-size: 1.5em;
	color: rgb(0 231 255 / 23%);
}

h4 {
	font-family: 'Baloo 2';
	margin: 0;
	font-size: 2em;
	color: rgb(0 182 146 / 70%);
}

a {
	font-weight: bold;
	color: rgb(41, 171, 226);
	text-decoration: none;
}

h1.description,
p.description {
	max-width: 512px;
	text-align: center;
	margin: auto;
}

p.social {
	display: inline-block;
	max-width: 1024px;
}

p.footer {
	margin-bottom: 20px;
	color: rgb(211, 220, 242);
}

p#copyright {
	margin-top: 20px;
	margin-bottom: 0;
	color: rgb(165, 179, 206);
}



/*
Other
*/
div.strip {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 35px auto;
}

span.strip {
	align-self: center;
	max-width: 60%;
	margin: 0 2.5%;
}

img.strip {
	width: 128px;
}

.rounded {
	border-radius: 30px;
}

@media screen and (max-width: 1140px) {
	h3 {
		font-size: 2.5vw;
	}

	span.strip {
		margin: 0 3%;
		max-width: 70%;
	}
}

@media screen and (max-width: 462px) {
	div.strip {
		display: inline-block;
	}

	span.strip {
		max-width: none;
	}

	img.strip {
		margin: 0 auto;
	}

	h1.strip {
		text-align: center;
	}
}